name:  Publicar Release NuGet

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Crear release autom谩tico
    runs-on: ubuntu-latest

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name:  Checkout c贸digo
        uses: actions/checkout@v2

      - name: О Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.x'

      - name:  Generar versi贸n 煤nica con timestamp
        id: version
        run: echo "VERSION=1.0.0-build-$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      # ========================
      #  Empaquetar proyectos
      # ========================
      - name:  Pack ATM.Domain
        run: |
          echo " Empaquetando ATM.Domain con versi贸n $VERSION"
          dotnet pack ./ATM/ATM.Domain/ATM.Domain.csproj \
            -p:Version=${{ env.VERSION }} -c Release -o ./output

      - name:  Pack Payment.Domain
        run: |
          echo " Empaquetando Payment.Domain con versi贸n $VERSION"
          dotnet pack ./Payment/Payment.Domain/Payment.Domain.csproj \
            -p:Version=${{ env.VERSION }} -c Release -o ./output

      # ========================
      #  Crear Release GitHub
      # ========================
      - name: Crear release autom谩tico
        uses: softprops/action-gh-release@v1
        with:
          tag_name: release-${{ env.VERSION }}
          name: "Build ${{ env.VERSION }}"
          files: output/*.nupkg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
